label {
    background: -webkit-linear-gradient(blue, green);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
    width: 100%;
    font-weight: bold;
}

input[type="email"] {
    width: 50%;
}