#nav {
    background-color: #0BA9F5;
}

#nav img {
    width: 20px;
    height: 20px;
}

#nav a {
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: 13px;
}

.hover:hover {
    background-color: #0371a6;
}

@media (max-width: 544px) and (max-width:768px) {
    #nav a {
        font-size: 10px;
    }
}

#img-div {
    text-align: center;
    background-color: #308050;
    font-weight: bold;
}