{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Favicon's -->
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}" />
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}" />
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}" />
  <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}" />

  <!--CSS -->
  <link rel="stylesheet" href="{%static 'css/styles.css'%}" />
  <link rel="stylesheet" href="{%static 'css/footer.css'%}" />

  <!-- Bootstrap -->
  <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

  <!-- CSS Block -->
  {% block css %}

  {% endblock%}

  <!-- Block for Tile -->
  <title>{% block title %}{% endblock %}</title>
</head>

<body>
  <!-- Header -->
  <div class="container-fluid sticky-top" id="nav">
    <div class=" row">
      <div class="col-lg-5 col-md-4 col-sm-12 col-12">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-3 col-3 border p-lg-4 p-md-2 p-sm-4 p-2 hover"><a href="/">HOME</a>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-3 col-3 border p-lg-4 p-md-2 p-sm-4 p-2 hover"><a href="/">ACADEMICS</a>
          </div>
          <div class="col-lg-3 col-md-7 col-sm-3 col-3 border p-lg-4 p-md-2 p-sm-4 p-2 hover"><a href="/">ADMISSIONS</a>
          </div>
          <div class="col-lg-3 col-md-5 col-sm-3 col-3 border p-lg-4 p-md-2 p-sm-4 p-2 hover"><a href="/">GALLERY</a>
          </div>
        </div>
      </div>

      <div id="img-div" class="col-lg-2 col-md-2 col-sm-4 col-4 border p-lg-4 p-md-4 p-sm-4 p-2"><a href="/">
          <img src="{% static 'images/avcoe.png' %}" alt="logo">AVCOE
        </a>
      </div>
      <div class="col-lg-1 col-md-2 col-sm-2 col-2 border p-lg-4 p-md-4 p-sm-4 p-2 hover"><a href="/">RESULTS</a>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-3 col-3 border p-lg-4 p-md-4 p-sm-4 p-2 hover"><a href="/">CONTACT</a>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-3 col-3 border p-lg-4 p-md-4 p-sm-4 p-2 hover"><a href="/">LOGIN</a>
      </div>

    </div>
  </div>
  {% block content %}


  {% endblock %}
  <!-- Footer -->
  <footer class="site-footer m-0">
    <div class="container-fluid container1 ml-md-1" id="mainfooterone">
      <div class="row p-0">
        <div class="container-fluid" style="user-select: auto;">
          <div class="widget-main"
            style="user-select: auto; text-align: center; padding: 0.5%; background-color: rgb(42, 133, 252);">
            <div class="widget-main-title widget-back" style="user-select: auto;">
              <div class="our-recruiters" style="user-select: auto;">
                <h4 class="widget-title" style="user-select: auto; color: white;">Departments</h4>
              </div>
            </div>
          </div>
          <div class="col-x1-12" style="user-select: auto;">
            <div class="row " style="user-select: auto; justify-content: space-evenly;">
              <div class="imgBox  col-lg-2 col-sm-3 col-md-offset-1 col-xs-6" style="user-select: auto; padding: 1%; "
                id="computerdeptimage">
                <center style="user-select: auto;"><a target="_blank" href="" style="user-select: auto;"><img
                      class="img-responsive" src="{%static 'images/departmentimages/computer.png'%}" alt="computer"
                      style="user-select: auto;"></a></center>
                <br style="user-select: auto;">
                <p class="font3" align="center" style="user-select: auto;">Computer</p>
              </div>
              <div class="imgBox  col-lg-2 col-sm-3 col-xs-6" style="user-select: auto;  padding: 1%; "
                id="mechdeptimage">
                <center style="user-select: auto;"><a target="_blank" href="" style="user-select: auto;"><img
                      class="img-responsive" src="{%static 'images/departmentimages/mechanical.png'%}" alt="mechanical"
                      style="user-select: auto;"></a></center>
                <br style="user-select: auto;">
                <p class="font3" align="center" style="user-select: auto;">Mechanical</p>
              </div>
              <div class="imgBox  col-lg-2 col-sm-3 col-xs-6" style="user-select: auto;  padding: 1%; "
                id="civildeptimage">
                <center style="user-select: auto;"><a target="_blank" href="" style="user-select: auto;"><img
                      class="img-responsive" src="{%static 'images/departmentimages/civil.png'%}" alt="civil"
                      style="user-select: auto;"></a></center>
                <br style="user-select: auto;">
                <p class="font3" align="center" style="user-select: auto;">Civil</p>
              </div>
              <div class="imgBox  col-lg-2 col-sm-3 col-xs-6" style="user-select: auto;  padding: 1%; "
                id="entcdeptimage">
                <center style="user-select: auto;"><a target="_blank" href="" style="user-select: auto;"><img
                      class="img-responsive" src="{%static 'images/departmentimages/entc.png'%}" alt="e@amp;tc"
                      style="user-select: auto;"></a></center>
                <br style="user-select: auto;">
                <p class="font3" align="center" style="user-select: auto;">E&amp;TC</p>
              </div>
              <div class="imgBox  col-lg-2 col-sm-3 col-xs-6" style="user-select: auto;  padding: 1%; "
                id="productiondeptimage">
                <center style="user-select: auto;"><a target="_blank" href="" style="user-select: auto;"><img
                      class="img-responsive" src="{%static 'images/departmentimages/production.png'%}" alt="computer"
                      style="user-select: auto;"></a></center>
                <br style="user-select: auto;">
                <p class="font3" align="center" style="user-select: auto;">Production</p>
              </div>
              <div class="imgBox  col-lg-2 col-sm-3 col-xs-6" style="user-select: auto;  padding: 1%;"
                id="electricaldeptimage">
                <center style="user-select: auto;"><a target="_blank" href="" style="user-select: auto;"><img
                      class="img-responsive" src="{%static 'images/departmentimages/electrical.png'%}" alt="electrical"
                      style="user-select: auto;"></a></center>
                <br style="user-select: auto;">
                <p class="font3" align="center" style="user-select: auto;">Electrical</p>
              </div>
              <div class="imgBox  col-lg-2 col-sm-3 col-xs-6 style=" user-select: auto; padding: 1%;"
                id="electronicsdeptimage">
                <center style="user-select: auto;"><a target="_blank" href="" style="user-select: auto;"><img
                      class="img-responsive" src="{%static 'images/departmentimages/electronics.png'%}"
                      alt="electronics" style="user-select: auto;"></a></center>
                <br style="user-select: auto;">
                <p class="font3" align="center" style="user-select: auto;">Electronics</p>
              </div>
              <div class="imgBox  col-lg-2 col-sm-3 col-xs-6" style="user-select: auto; padding: 1%;" id="itdeptimage">
                <center style="user-select: auto;"><a target="_blank" href="" style="user-select: auto;"><img
                      class="img-responsive" src="{%static 'images/departmentimages/it.png'%}" alt="it"
                      style="user-select: auto;"></a></center>
                <br style="user-select: auto;">
                <p class="font3" align="center" style="user-select: auto;">IT</p>
              </div>
              <div class="imgBox  col-lg-2 col-sm-3 col-xs-6" style="user-select: auto; padding: 1%;" id="mbadeptimage">
                <center style="user-select: auto;"><a target="_blank" href="" style="user-select: auto;"><img
                      class="img-responsive" src="{%static 'images/departmentimages/mba.png'%}" alt="production"
                      style="user-select: auto;"></a></center>
                <br style="user-select: auto;">
                <p class="font3" align="center" style="user-select: auto;">MBA</p>
              </div>
              <div class="imgBox  col-lg-2 col-sm-3 col-xs-6" style="user-select: auto; padding: 1%;"
                id="sciencedeptimage">
                <center style="user-select: auto;"><a target="_blank" href="" style="user-select: auto;"><img
                      class="img-responsive" src="{%static 'images/departmentimages/science.png'%}" alt="computer"
                      style="user-select: auto;"></a></center>
                <br style="user-select: auto;">
                <p class="font3" align="center" style="user-select: auto;">Science</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid container1 ml-md-1" id="mainfooterone">
      <div class="row">
        <div class="container-fluid" style="user-select: auto;">
          <div class="widget-main"
            style="user-select: auto; text-align: center; padding: 0.5%; background-color: rgb(42, 133, 252);">
            <div class="widget-main-title widget-back" style="user-select: auto;">
              <div class="our-recruiters" style="user-select: auto;">
                <h4 class="widget-title" style="user-select: auto; color: white;">Top-Recruiters</h4>
              </div>
            </div>
          </div>
          <div class="container m-md-auto">
            <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="3000">
                  <img src="{%static 'images/footerimages/tcs.jpg'%}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                  <img src="{%static 'images/footerimages/congnizent.jpg'%}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                  <img src="{%static 'images/footerimages/capgemini.png'%}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                  <img src="{%static 'images/footerimages/infosys.jpg'%}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                  <img src="{%static 'images/footerimages/persistent.jpg'%}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                  <img src="{%static 'images/footerimages/ibm.jpg'%}" class="d-block w-100" alt="...">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid container1 ml-md-2" id="mainfooterthree">
        <div class="row offset-1 ">
          <div class="col-md-3 pt-md-3">
            <div class="footer-widget">
              <h4 class="footer-widget-title">Contact Us</h4>
              <br>
              <p>Tel: (02425) 259015/16/17/18 259148(P)
                Fax: (02425) 259016<br>
                Sangamner Dist. Ahmednagar (Maharashtra-India)
            </div>
          </div>
          <div class="col-md-3 offset-2">
            <div class="footer-widget">
              <div class="small-12 large-4 columns site-footer__middle__logo" style="user-select: auto;">
                <div class="site-footer__middle__logo__container " style="user-select: auto;">
                  <img src="{%static 'images/footerimages/footeravcoe.png'%}" id="avcoelogo"
                    alt="St. John's University Crest" style="user-select: auto;">

                </div>
                <h3 id="avcoelogoname">AVCOE</h3>
              </div>
            </div>
          </div>
          <div class="col-md-3 offset-1">
            <div class="footer-widget">
              <!-- Social buttons -->
              <div class="row mt-5">
                <div class="col-2">
                  <a href="https://www.facebook.com/AVCOEngg" target="_blank" id="socialmediabuttonone">
                    <img src="{%static 'images/footerimages/facebook.png'%}" alt="..."></a>
                </div>
                <div class="col-2">
                  <a href="https://www.youtube.com/channel/UC6q-pnqVXMBI6gTevAKL0Gg" target="_blank "
                    id="socialmediabuttontwo">
                    <img src="{%static 'images/footerimages/instagram.png'%}" alt="..."></a>
                </div>
                <div class="col-2 ">
                  <a href="https://www.instagram.com/avcoeofficial" target="_blank" id="socialmediabuttonthree">
                    <img src="{%static 'images/footerimages/youtube.png'%}" alt="..."></a>
                </div>
                <h6 id="sociallogoname">Social Media</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="bottom-footer " id="lastfooter" style="user-select: auto; padding-left: 12%; padding-right: 4% ;">
          <div class="row" style="user-select: auto;">
            <div class="col-md-6 col-sm-6 text-left" style="user-select: auto; padding-left: 2%;">
              <p class="small-text" style="user-select: auto; padding-top: 2%;"> © Copyright 2019 AVCOE. All Rights
                Reserved.
              </p>
            </div>
            <div class="col-md-6 col-sm-6 text-right" style="user-select: auto; padding-top:1%; padding-left: 20% ;">
              Designed by : <a id="hostteam" href="https://www.google.com" target="_blank"
                style="user-select: auto;">Team
                Hosts@localhost</a>
              <p style="user-select: auto;"></p>
            </div>
          </div> <!-- /.col-md-5 -->
        </div>
      </div>
    </div>
  </footer>
  <script src="{% static 'js/main.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
  </script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
  </script>


  <!-- JavaScript -->
  <script src="{% static 'js/main.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>


  <!-- JavaScript Block -->
  {% block javascript %}

  {% endblock %}
</body>

</html>