{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Favicon's -->
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}" />
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}" />
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}" />
  <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}" />

  <!--CSS -->
  <link rel="stylesheet" href="{%static 'css/styles.css'%}" />

  <!-- Bootstrap -->
  <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">

  <!-- CSS Block -->
  {% block css %}

  {% endblock%}

  <!-- Block for Tile -->
  <title>{% block title %}{% endblock %}</title>
</head>

<body>
  <!-- Header -->
  <div class="container-fluid sticky-top" id="nav">
    <div class=" row align-items-center">
      <div class="col-lg-5 col-md-4 col-sm-12 col-12">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-3 col-3 border p-lg-4 p-md-2 p-sm-4 p-2 hover"><a href="/">HOME</a>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-3 col-3 border p-lg-4 p-md-2 p-sm-4 p-2 hover"><a href="/">ACADEMICS</a>
          </div>
          <div class="col-lg-3 col-md-7 col-sm-3 col-3 border p-lg-4 p-md-2 p-sm-4 p-2 hover"><a href="/">ADMISSIONS</a>
          </div>
          <div class="col-lg-3 col-md-5 col-sm-3 col-3 border p-lg-4 p-md-2 p-sm-4 p-2 hover"><a href="/">GALLERY</a>
          </div>
        </div>
      </div>

      <div id="img-div" class="col-lg-2 col-md-2 col-sm-4 col-4 border p-lg-4 p-md-4 p-sm-4 p-2"><a href="/">
          <img src="{% static 'images/avcoe.png' %}" alt="logo">AVCOE
        </a>
      </div>
      <div class="col-lg-1 col-md-2 col-sm-2 col-2 border p-lg-4 p-md-4 p-sm-4 p-2 hover"><a href="/">RESULTS</a>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-3 col-3 border p-lg-4 p-md-4 p-sm-4 p-2 hover"><a href="/">CONTACT</a>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-3 col-3 border p-lg-4 p-md-4 p-sm-4 p-2 hover"><a href="/">LOGIN</a>
      </div>

    </div>
  </div>



  {% block content %} {% endblock %}
  <!-- footer -->


  <!-- JavaScript -->
  <script src="{% static 'js/main.js' %}"></script>

  <!-- JavaScript Block -->
  {% block javascript %}

  {% endblock %}
</body>

</html>