{% extends "base.html" %}
{% load static %}
<!-- Title block -->
{% block title %}Welcome{% endblock %}

{% block content %}

<div class="row" data-aos="fade-up" data-aos-duration="6000">


	<div class="jumbotron bg-none">
		<div class="container">
			<h1 class="text-center text-primary weight-bold">Gallery</h1>
			<h4 class="text-center text-primary weight-bold">Special Memories Of AVCOE!....</h4>
			<br>
			<div class="row">
				<div class="col-lg-3 col-sm-2">
					<div class="card shadow-lg mb-2 img-hover-zoom">
						<div class="card-body text-center">
							<a href="#" class="img-wrapper" tabindex="-1" aria-hidden="true">
								<img src="{%static 'img/a13.jfif'%}" class="img-fluid " alt="avt1" alt=""
									role="presentation" style="width:440px;height:300px">
							</a>
							<div class="date" itemprop="startDate" content="2021-06-02T17:00:00Z">
								<span class="month">Jun</span>
								<span class="day">2</span>
							</div>
							<h4 class="card-title">Seminar</h4>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-2">
					<div class="card shadow-lg mb-2 img-hover-zoom">
						<div class="card-body text-center">
							<a href="#" class="img-wrapper" tabindex="-1" aria-hidden="true">
								<img src="{%static 'img/a14.jfif'%}" class="img-fluid " alt="avt1" alt=""
									role="presentation" style="width:440px;height:300px">
							</a>
							<div class="date" itemprop="startDate" content="2021-06-02T17:00:00Z">
								<span class="month">Feb</span>
								<span class="day">24</span>
							</div>
							<h4 class="card-title">Solar Workshop</h4>

						</div>
					</div>
				</div>

				<div class="col-lg-6 col-sm-6">
					<div class="card shadow-lg mb-2 img-hover-zoom" style="width:580px;height:460px">
						<div class="card-body text-center">
							<a href="#" class="img-wrapper" tabindex="-1" aria-hidden="true">
								<img src="{%static 'img/a11.jpeg'%}" class="img-fluid " alt="avt1" alt=""
									role="presentation" style="width:640px;height:430px">
							</a>
							<div class="card-img-overlay h-100 d-flex flex-column justify-content-end">
								<h5 class="card-title text-light weight-bold text-justify">University Update</h5>
								<h4 class="card-text text-light text-justify weight-bold">Amrutvahini Conduct Codethon
								</h4>

							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row" data-aos="fade-left" data-aos-duration="3000">
				<div class="col-lg-6 col-sm-6">
					<div class="card shadow-lg mb-2 img-hover-zoom" style="width:500px;height:180px">
						<div class="card-body text-center">
							<a href="#" class="img-wrapper" tabindex="-1" aria-hidden="true">
								<img src="{%static 'img/a11.jpeg'%}" class="img-fluid " alt="avt1" alt=""
									role="presentation" style="width:480px;height:180px">
							</a>
							<div class="card-img-overlay h-100 d-flex flex-column justify-content-end">
								<h5 class="card-title text-light weight-bold text-justify">University Update</h5>
								<h4 class="card-text text-light text-justify weight-bold">Amrutvahini Conduct Codethon
								</h4>

							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-5">
					<div class="card shadow-lg mb-2 img-hover-zoom" style="width:440px;height:200px">
						<div class="card-body text-center">
							<a href="#" class="img-wrapper" tabindex="-1" aria-hidden="true">
								<img src="{%static 'img/a15.jpg'%}" class="img-fluid " alt="avt1" alt=""
									role="presentation" style="width:440px;height:200px">
							</a>
							<div class="date" itemprop="startDate" content="2021-06-02T17:00:00Z">
								<span class="month">Sept</span>
								<span class="day">24</span>
							</div>
							<h4 class="card-title">Freshers Meet</h4>

						</div>
					</div>
				</div>

			</div>
		</div>
		<div class="row">
			<div class="col-lg-6 col-sm-8">
				<div class="card shadow-lg mb-2 img-hover-zoom">
					<div class="card-body text-center" style="width:640px;height:500px">
						<a href="#" class="img-wrapper" tabindex="-1" aria-hidden="true">
							<img src="{%static 'img/a12.JPG'%}" class="img-fluid " alt="avt1" alt="" role="presentation"
								style="width:640px;height:470px">
						</a>
						<div class="card-img-overlay h-100 d-flex flex-column justify-content-end">
							<h5 class="card-title text-light weight-bold text-justify">University Update</h5>
							<h4 class="card-text text-light text-justify weight-bold">Admission Started for 2021-22</h4>

						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-sm-2">
				<div class="card shadow-lg mb-2 img-hover-zoom">
					<div class="card-body text-center">
						<a href="#" class="img-wrapper" tabindex="-1" aria-hidden="true">
							<img src="{%static 'img/a15.jpg'%}" class="img-fluid " alt="avt1" alt="" role="presentation"
								style="width:440px;height:300px">
						</a>
						<div class="date" itemprop="startDate" content="2021-06-02T17:00:00Z">
							<span class="month">Sept</span>
							<span class="day">24</span>
						</div>
						<h4 class="card-title">Freshers Meet</h4>

					</div>
				</div>
			</div>

			<div class="col-lg-3 col-sm-2">
				<div class="card shadow-lg mb-2 img-hover-zoom">
					<div class="card-body text-center">
						<a href="#" class="img-wrapper" tabindex="-1" aria-hidden="true">
							<img src="{%static 'img/a16.jpg'%}" class="img-fluid " alt="avt1" alt="" role="presentation"
								style="width:440px;height:300px">
						</a>
						<div class="date" itemprop="startDate" content="2021-06-02T17:00:00Z">
							<span class="month">Feb</span>
							<span class="day">2</span>
						</div>
						<h4 class="card-title">Guest Lecture</h4>
					</div>
				</div>
			</div>
		</div>

	</div>
	<br>
	<div class="row">
		<div class="col-sm-5">
		</div>

	</div>
</div>
<div class="row">
	<div class="col-sm-5">
	</div>
</div>


{% endblock %}