{% extends "base.html" %}
{% load static %}
<!-- Title block -->
{% block title %}Welcome{% endblock %}

{% block css %}
<link rel="stylesheet" href="{%static 'css/te_result.css'%}" />
{% endblock%}

{% block content %}

{%for message in messages%}
<div class="alert alert-{{message.tags}} alert-dismissible fade show m-2" role="alert">
  <strong>Message : </strong>{{message}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %}


{% if user.is_authenticated %}
<div class="container m-2" id="branch_header">
  <h1>Welcome {{ user.get_short_name }}</h1>
</div>
{% endif %}
<!-- Main Image -->
<div class="container-fluid col-sm-11 m-sm-auto">

  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{%static 'img/bbb1.jpeg'%}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h3>AVCOE Campus</h3>
          <p>Change Your Life..Start Here..!.</p>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- Main Image  End-->

{% endblock %}