{% extends "base.html" %}
{% load static %}
<!-- Title block -->
{% block title %}Welcome{% endblock %}

{% block css %}
<link rel="stylesheet" href="{%static 'css/te_result.css'%}" />
{% endblock%}

{% block content %}

{%for message in messages%}
<div class="alert alert-{{message.tags}} alert-dismissible fade show m-2" role="alert">
  <strong>Message : </strong>{{message}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %}


{% if user.is_authenticated %}
<div class="container m-2" id="branch_header">
  <h1>Welcome {{ user.get_short_name }}</h1>
</div>
{% endif %}

<div class="container-fluid my-4 px-0">
  <div id="carouselExampleCaptions" class="carousel slide width-50%" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/static/img/a.jpg" class="d-block w-100" alt="..." style="width:640px;height:460px">
        <div class="carousel-caption d-none d-md-block">
          <h5>Welcome</h5>
          <p>In Amrutvahini Collge of engineering</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/static/img/a1.jpg" class="d-block w-100" alt="..." style="width:640px;height:460px">
        <div class="carousel-caption d-none d-md-block">
          <h5>Best College Award</h5>
          <p>In 2020-2021</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/static/img/a2.jpg" class="d-block w-100" alt="..." style="width:640px;height:460px">
        <div class="carousel-caption d-none d-md-block">
          <b class="primary">
            <h5>Make Future bright</h5>
            <p>When admission In Amrutvahini.....</p>
          </b>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<div class="container" data-aos="fade-up" data-aos-duration="6000">
  <div class="row">


    <div class="col-md-3">

      <ul class="nav nav-pills flex-column data-mdb-animation-delay">
        <li class="nav-item">
          <a class="nav-link active" href="#">Notice</a>
        </li>
        <li class="nav-item">
          <marquee direction="up">
            <div class="event-small-list clearfix">
              <div class="calendar-small">
                <span class="s-month">February</span>
                <span class="s-date">24</span>
              </div>
              <div class="event-small-details">
                <h5 class="event-title"><a href="https://www.avcoe.org/eventdetaildb.php?events_id=163"
                    target="_blank">Internet Of Things</a></h5>
                <p class="event-small-meta small-text">Amrutvahini College of Engineering</p>
              </div>
            </div>

            <div class="event-small-list clearfix">
              <div class="calendar-small">
                <span class="s-month">April</span>
                <span class="s-date">27</span>
              </div>
              <div class="event-small-details">
                <h5 class="event-title"><a href="https://www.avcoe.org/eventdetaildb.php?events_id=164"
                    target="_blank">World Intellectual Property Day Celebration</a></h5>
                <p class="event-small-meta small-text">Amrutvahini College of Engineering</p>
              </div>
            </div>
          </marquee>
      </ul>
    </div>



    <div class="col-md-11 col-xs-12 col-lg-9">
      <div class="row">
        <div class="col-md-12">

          <h3 class="widget-main-title text-light font1 bg-primary" data-aos="fade-up" data-aos-duration="6000"
            style="font-family:Trebuchet MS;">WELCOME TO AMRUTVAHINI COLLEGE OF ENGINEERING</h3>
          <p data-aos="fade-up" data-aos-duration="6000" style="text-align:justify">
            Amrutvahini College of Engineering (AVCOE), Sangamner established in 1983 under the leadership of Hon. Late.
            Bhausaheb Thorat and progessing under the guidance of Hon. Shri. Balasaheb Thorat, Revenue
            Minister,Government of Maharashtra and Hon. Dr.Sudhir Tambe (MLC Nashik). It is spread over 15.6 acres of
            ample greenery, with three times accreditation by NBA, New Delhi, Graded 'A' by NACC Government of India and
            International Academic Accreditation lSO 9001:2015 by TUV SUD. It boasts state of art IT centre with 100
            mbps Wi-Fi Internet Facility. It has a huge library that accommodates 66,735 books,129 print journals and
            275 e-journals. It provides 100% placement assistance to its students through value added courses,foreign
            langauges (Japanese , German) and Training. It is an Institute that has always worked for imparting
            excellence driven engineering education that builds the future of Engineers and Entrepreneur
          </p>
          <!-- third nested
   </column -->
        </div>
      </div>
    </div>

  </div>
</div>
<div class="row my-4">
  <div class="col-sm-10">

    <h2 class="my-3"> Gallery
    </h2>
  </div>
</div>
<div class="row" data-aos="fade-up" data-aos-duration="6000">
  <div class="col-sm-4">
    <div class="card" style="width: 28rem;">
      <img src="/static/img/kla.jpg" class="card-img-top" alt="...">
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card" style="width: 28rem;">
      <img src="/static/img/a4.jpeg" class="card-img-top" alt="...">
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card" style="width: 28rem;">
      <img src="/static/img/a5.jpg" class="card-img-top" alt="...">

    </div>
  </div>
</div>
<br>

<div class="row" data-aos="fade-up" data-aos-duration="6000">
  <div class="col-sm-4">
    <div class="card" style="width: 28rem;">
      <img src="/static/img/b1.jfif" class="card-img-top" alt="...">
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card" style="width: 28rem;">
      <img src="/static/img/b2.jfif" class="card-img-top" alt="...">
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card" style="width: 28rem;">
      <img src="/static/img/b3.jfif" class="card-img-top" alt="...">

    </div>
  </div>
</div>
</div>

<div class="row my-4" data-aos="fade-up" data-aos-duration="6000">
  <div class="col-sm-10">

    <h2 class="my-3"> Events
    </h2>
  </div>

  <div class="col-sm-2">


    <button type="button" class="btn btn-primary">View All Events</button>


  </div>
</div>
<div class="row my-4" data-aos="fade-up" data-aos-duration="6000">
  <div class="col-sm-4">
    <div class="card border-0 bg-success">
      <div class="card-body" style="height:220px;">

        <div class="event-small-list clearfix">
          <div class="calendar-small">
            <span class="s-month">June</span>
            <span class="s-date">10 to 14</span>
          </div>
          <div class="event-small-details">
            <h5 class="event-title"><a href="" target="_blank" style="border:0">Indo Asian Solar
                Challenge dynamic race</a></h5>
            <p class="event-small-meta small-text">Amrutvahini College of Engineering</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card border-0 bg-success">
      <div class="card-body" style="height:220px;">

        <div class="event-small-list clearfix">
          <div class="calendar-small">
            <span class="s-month">May</span>
            <span class="s-date">17 to 31</span>
          </div>
          <div class="event-small-details">
            <h5 class="event-title"><a href="https://www.avcoe.org/eventdetaildb.php?events_id=166" target="_blank">15
                Days Faculty Development Program on "Entrepreneurship, Innovation and Incubation</a></h5>
            <p class="event-small-meta small-text">Amrutvahini College of Engineering</p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="col-sm-4 ">
    <div class="card border-0 bg-success">
      <div class="card-body" style="height:220px;">


        <div class="event-small-list clearfix">
          <div class="calendar-small">
            <span class="s-month">August</span>
            <span class="s-date">07</span>
          </div>
          <div class="event-small-details">
            <h5 class="event-title"><a href="https://www.avcoe.org/eventdetaildb.php?events_id=165"
                target="_blank">Online session on Competative examination: Keys to success</a></h5>
            <p class="event-small-meta small-text">Amrutvahini College of Engineering</p>
          </div>
        </div>

      </div>
    </div>
  </div>


  <div class="row my-4" data-aos="fade-up" data-aos-duration="6000">
    <div class="col-sm-10">

      <h2 class="my-3"> Latest News
      </h2>
    </div>

    <div class="col-sm-2">


      <button type="button" class="btn btn-primary">View All Events</button>


    </div>
  </div>
  <div class="row my-4" data-aos="fade-up" data-aos-duration="6000">
    <div class="col-sm-4">
      <div class="card border-0 bg-success">
        <div class="card-body" style="height:220px;">

          <div class="event-small-list clearfix">
            <div class="calendar-small">
              <span class="s-month">June</span>
              <span class="s-date">10 to 14</span>
            </div>
            <div class="event-small-details">
              <h5 class="event-title"><a href="" target="_blank">Indo Asian Solar Challenge dynamic race</a></h5>
              <p class="event-small-meta small-text">Amrutvahini College of Engineering</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card border-0 bg-success ">
        <div class="card-body" style="height:220px;">

          <div class="event-small-list clearfix">
            <div class="calendar-small">
              <span class="s-month">June</span>
              <span class="s-date">10 to 14</span>
            </div>
            <div class="event-small-details">
              <h5 class="event-title"><a href="" target="_blank">Indo Asian Solar Challenge dynamic race</a></h5>
              <p class="event-small-meta small-text">Amrutvahini College of Engineering</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card border-0 bg-success">
        <div class="card-body" style="height:220px;">

          <div class="event-small-list clearfix">
            <div class="calendar-small">
              <span class="s-month">June</span>
              <span class="s-date">10 to 14</span>
            </div>
            <div class="event-small-details">
              <h5 class="event-title"><a href="" target="_blank">Indo Asian Solar Challenge dynamic race</a></h5>
              <p class="event-small-meta small-text">Amrutvahini College of Engineering</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


{% endblock %}